:host {
  position: fixed; /* or 'absolute' depending on your layout */
  bottom: 0;
  left: 0;
  width: 100%; /* or adjust as needed */
  text-align: center;
  z-index: 99; /* Ensure it's on top of other elements */
}

.pseudo-hand-container {
  display: flex;
  justify-content: center;
}

.pseudo-hand {
  max-width: 1000px;
  display: flex;
  justify-content: space-evenly;
  min-width: fit-content;
  flex-grow: 1;
  padding-bottom: 75px;
  animation: slideIn 0.3s ease; /* Adjust duration and timing function as needed */
}

.pseudo-hand>*:not(:first-child) {
  margin-left: -100px;
}

.back-button-container {
  position: relative;
  width: 154px;
  height: 204px;
}

.back-button {
  width: 134px;
  height: 184px;

  margin: 9px;
  box-sizing: border-box;
  border: 2px dashed white;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  cursor: pointer;

  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 30px;
  font-weight: bold;

  transition: transform 0.1s ease;
}

.back-button:hover {
  transform: rotate(180deg) translateY(30px);
}

@keyframes slideIn {
  from {
      transform: translateY(300px);
  }
  to {
      transform: translateY(0);
  }
}
