<div>
  <div
    [class]="display?.class"
    *ngIf="isFaceUp"
    [style.background-color]="display?.color"
    [style.transform]="'rotate(' + rotation + 'deg)'"
    [style.transform]="'translate(' + position.x + 'px, ' + position.y + 'px) rotate(' + rotation + 'deg)'"
    [title]="display?.tooltip">

    <div class="small-symbol-container">
      <div class="small-symbol">
        {{ display?.symbol }}
      </div>
    </div>

    <div class="big-symbol">
      {{ display?.symbol }}
    </div>

    <div class="small-symbol-container" style="transform: rotate(180deg);">
      <div class="small-symbol">
        {{ display?.symbol }}
      </div>
    </div>
  </div>

  <div class="card face-down" *ngIf="!isFaceUp"></div>
</div>
