.card {
  width: 100px;
  height: 150px;
  background-color: gray;
  border-radius: 10px;
  display: flex;
  align-items: center;
  color: #FFF;
  flex-direction: column;
  margin: 10px;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  user-select: none;
  border: 1px solid black;
  background-image: url('./../../../../assets/card-background.png');
  background-blend-mode: multiply;
}

.wild-card {
  border: 1px solid black;
  outline: 2px solid white;
  outline-offset: -3px;
}


.face-down {
  background-image: repeating-linear-gradient(45deg, #292929, #292929 10px, white 10px, white 20px), url('./../../../../assets/card-back-background.png');
  background-blend-mode: difference;
  background-size: auto, cover;
  background-repeat: repeat;
  border: 2px solid black;
}

.small-symbol-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.small-symbol {
  font-size: 1.5rem;
  text-align: center;
}

.big-symbol {
  font-size: 4rem;
}

.playable {
  transition: transform 0.1s ease !important;
  cursor: pointer;
}

.playable:hover {
  transform: translateY(-30px) !important;
}
