@keyframes tada {
  30%,
  50%,
  70%,
  90% {
    transform: scale(1.1) rotate(3deg);
  }

  40%,
  60%,
  80% {
    transform: scale(1.1) rotate(-3deg);
  }
}

.table {
  width: 100vw;
  height: 100vh;
  background-image: url('../../../assets/table-background.png');
  background-color: gray;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.scrollable-x {
  overflow-x: scroll;
  max-width: 100vw;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  transition: transform 0.3s ease;
}

.hand {
  display: flex;
  justify-content: space-evenly;
  min-width: fit-content;
  flex-grow: 1;
}

.hand>*:not(:first-child) {
  margin-left: -100px;
}

.stacksContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.stacksContainer>* {
  width: 150px;
  height: 200px;
}

.stack {
  position: relative;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stackedCard {
  position: absolute;
  height: fit-content;
}

.drawStackCard {
  transition: transform 0.1s ease;
  cursor: pointer;
}

.drawStackCard:hover {
  transform: translateX(30px);
}

@media (hover: none) {
  .drawStackCard:hover {
    transform: none;
  }
}

.black-and-white {
  filter: grayscale(100%);
}

.skip-button-container {
  position: relative;
  width: 150px;
  height: 200px;
}

.skip-button {
  width: 130px;
  height: 180px;

  margin: 10px;
  box-sizing: border-box;
  border: 2px dashed white;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  cursor: pointer;

  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 30px;
  font-weight: bold;

  transition: transform 0.1s ease;
}

.skip-button:disabled {
  border: 2px dashed gray;
  color: gray;
  cursor: not-allowed;
  text-decoration: line-through;
}

.skip-button:enabled:hover {
  transform: rotate(180deg) translateX(30px);
}

.card-count-indicator {
  position: absolute;
  z-index: 999;

  background-color: rgba(245, 245, 245, 0.8);
  color: black;
  border: none;
  border-radius: 4px;
  cursor: default;

  width: 35px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.player2-card-count {
  top: 20px;
  right: 20px;
}

.player1-card-count {
  bottom: 20px;
  right: 20px;
}

.retracted {
  transform: translateY(150px);
  pointer-events: none;
}
