<div *ngIf="gameReady === false"></div>

<div *ngIf="gameReady === true" class="table">
  <app-back-button>

  </app-back-button>

  <div class="hand">
    <div *ngFor="let card of state.hands['player2']">
      <game-card [input]="card" [isFaceUp]="false"></game-card>
    </div>
  </div>

  <div class="card-count-indicator player2-card-count">
    {{ state.hands['player2'].length }}
  </div>

  <div class="stacksContainer">
    <div class="stack" style="left: -75px;">
      <div *ngFor="let card of state.drawStack.slice(0, 10)">
        <game-card
          [class.drawStackCard]="state.currentTurn.player === humanId && !wildCardSelected"
          class="stackedCard"
          [input]="card"
          [isFaceUp]="false"
          [playable]="state.currentTurn.player === humanId && !wildCardSelected"
          (click)="clickedDraw()">
        </game-card>
      </div>
    </div>

    <div class="stack">
      <div *ngFor="let card of state.playedStack, let i = index">
        <game-card
          class="stackedCard"
          [input]="card"
          [isFaceUp]="true"
          [rotation]="playedStackRotation[i]"
          [position]="playedStackPosition[i]">
        </game-card>
      </div>
    </div>

    <div class="action skip-button-container" style="left: +75px;">
      <button class="skip-button" (click)="clickedSkip()" [disabled]="!humanCanSkip || wildCardSelected">SKIP</button>
    </div>
  </div>

  <div class="card-count-indicator player1-card-count">
    {{ state.hands['player1'].length }}
  </div>

  <div *ngIf="wildCardSelected" class="scrollable-x" appHorizontalScroll>
    <div class="hand">
      <game-wild-selector [originalWildCard]="wildCardSelected" (selectedColor)="selectedWildColor($event)"></game-wild-selector>
    </div>
  </div>

  <div [class.retracted]="wildCardSelected" class="scrollable-x" appHorizontalScroll>
    <div class="hand" [ngClass]="{'black-and-white': state.currentTurn.player !== humanId}">
      <div *ngFor="let card of state.hands['player1'], let i = index">
        <game-card [input]="card" [isFaceUp]="true" (click)="clickedCard(i)" [playable]="playableCards.includes(i)"></game-card>
      </div>
    </div>
  </div>
</div>
