@keyframes colorCycle {
  0% {
    background-color: #ff0000;
  }

  25% {
    background-color: #00b7ff;
  }

  50% {
    background-color: #ffff00;
  }

  75% {
    background-color: #00ff55;
  }

  100% {
    background-color: #ff0000;
  }
}

.background-container {
  animation: moveBackground 60s linear infinite, colorCycle 30s linear infinite;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 100px 25px rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: -1;
  background-image: url('../../../../assets/table-background.png');
  background-blend-mode: multiply;
}

@keyframes moveBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 100%; }
}
