body {
  margin: 0;
  background-color: black;
  color: white;
  overflow: hidden;
  z-index: -9999;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body,
html {
  overflow: hidden;
}
